@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.shadow-c {
  box-shadow: 1px 1px 6px 1px rgba(19, 19, 19, 0.51);
}

.mobmenu {
  position: absolute;
  top: 105%;
  right: -15px;
  background-color: #06a2d8;
  backdrop-filter: blur(8px);
  z-index: 100;
  box-shadow: 0px 5px 7px rgba(63, 62, 62, 0.75)
}

.dropdown-item {
  border-bottom: 1px solid #ffffff; /* Ajusta el color según sea necesario */
}

.dropdown-item:not(:last-child) {
  border-bottom: 2px solid #ffffff; /* Añade un borde inferior a todos menos al último */
}

.dropdown-item:last-child {
  border-bottom: none; /* Asegúrate de que el último elemento no tenga borde */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 10s linear infinite;
}
